@* <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Application Name</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <!-- Здесь могут быть другие стили и скрипты, необходимые для вашего приложения -->
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <!-- Здесь вставьте содержимое вашего представления -->
            @RenderBody()
        </main>
    </div>

    <!-- Вот ваш скрипт для автоматического обновления браузера -->
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html> *@