<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>

    <form asp-action="Register" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="Login" />
            @* <span asp-validation-for="Login"></span> *@
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="Password" />
            @* <span asp-validation-for="Password"></span> *@
        </div>
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="Name" />
            @* <span asp-validation-for="Name"></span> *@
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>

    <button id="backButton">Назад</button>

    <script>
        document.getElementById("backButton").addEventListener("click", function () {
            window.location.href = "/Home/Index";
        });
    </script>
</body>
</html>