@model Microsoft.AspNetCore.Diagnostics.ExceptionHandlerFeature

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<hr />
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.Error is not null)
{
    <h3>@Model.Error.Message</h3>
    <pre>@Model.Error.StackTrace</pre>
}