<!-- Views/Home/Index.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Выбор действия</title>
</head>
<body>
    <h2>Выберите действие:</h2>
    <ul>
        <li><a href="/User/Register">Регистрация</a></li>
        <li><a href="/User/Login">Вход</a></li>
    </ul>
</body>
</html>